.postContainer {
    width: 60%;
    margin: 0 auto;
    margin-top: 3em;
}

.postHeader {
    height: 9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3em;
    border-bottom: 1px solid black;
}

.postHeader a {
    text-decoration: none;
    color: rgb(154, 147, 147);
}

.postTitle {
    font-size: 3em;
    margin-bottom: .3em;
}

.leaveBlog a svg {
    height: 15px;
    margin-right: 5px;
}

.leaveBlog {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .postContainer {
        width: 80%;
    }
}