.socials {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 25%;
}

.socials a {
    height: 64px;
    width: 64px;
}

.title {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 6.5em;
    font-size: 2em;
}

.name {
    color: blue;
}

.typewriter {
    height: 1.5em;
}

@media only screen and (max-width: 600px) {
    .socials {
        width: 20em;
    }
}