.socials {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 30em;
}

.socials a {
    height: 64px;
    width: 64px;
}

.title {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 5em;
    font-size: 2em;
}

.name {
    color: blue;
}