.info {
    width: 40%;
    margin-top: 5em !important;
    margin: 0 auto;
    line-height: 25px;
}

.title {
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: blue;
    margin-bottom: .5em;
}

.name, .paraOne {
    margin-bottom: .5em;
}

.paraTwo {
    margin-bottom: 3em;
}

.skillTitle svg {
    height: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    .info {
        width: 60%;
    }
}